# secrets
.env
secrets/

# node
node_modules/
npm-debug.log

# misc
tests/
notes.txt

# persistent storage
processed_mentions.json
archive.json
OLD-archive.json
archive/
users.json

# watch mode state/data
watch-config.json
watch-state.json
watch-pending-state.json
watch-archive/

# logs
logs/